    workspace "music"

    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    
    window-rule {
      match app-id="brave-browser"
      open-maximized true
    }

    window-rule {
      match app-id="jetbrains-rider"
      open-maximized true
    }

    window-rule {
      match app-id="spotify"
      open-on-workspace "music"
      open-maximized true
    }

    switch-events {
        //lid-close { spawn "notify-send" "The laptop lid is closed!"; }
        //lid-open { spawn "notify-send" "The laptop lid is open!"; }
        lid-close { spawn "bash" "-c" "qs -c noctalia-shell ipc call lockScreen lock"; }
    }
