workspace "scratch"

window-rule {
        match app-id=r#"^spotify|signal$"#
        open-on-workspace "scratch"
        open-floating true
}

spawn-at-startup "signal-desktop"
spawn-at-startup "spotify"
binds {
        Mod+Ctrl+M { spawn-sh "/home/lapin/nscratch -id spotify -s spotify -a"; }
        Mod+Ctrl+S { spawn-sh "/home/lapin/nscratch -id signal-desktop -s signal-desktop"; }
}
